<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Cloudflare Web Analytics --><script type='module' src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4d1353cd6e7b48f7b2e4bddfa0c355fc"}'></script><!-- End Cloudflare Web Analytics -->
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='card_logo.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='cyberpunk.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}"/>
	<title>Cyberpunk TCG Print at Home</title>
</head>
<body>
	<nav class="cyber-razor-bottom bg-dark fg-white p-3 mt-4">
		<div class="logo">
			<img src="{{ url_for('static', filename='card_logo.png') }}" class="cyber-glitch-1">
		</div>
		<div class="ko-fi">
			<script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Send me some €$', '#000', 'F1F7326TN');kofiwidget2.draw();</script> 
		</div>
	</nav>
	{% if error == 'invalid_decklist' %}
		<div class="error error_top cyber-att-2">
			<span>Error: Unable to read cards from decklist, please export in <strong>Text List format</strong> from <a href="https://cyberpunktcg.com/decks">cyberpunktcg.com</a> and try again. </span>
		</div>

		<div class="error error_bottom cyber-att-2">
			<span>Error: Unable to read cards from decklist, please export in <strong>Text List format</strong> from <a href="https://cyberpunktcg.com/decks">cyberpunktcg.com</a> and try again. </span>
		</div>
	{% endif %}
	
	{% block body %}
	{% endblock %}
</body>
{% block scripts %}
{% endblock %}

</html>
